.contactsContainer {
  text-align: center;
  height: 81.5vh;

}

.mapContainer {
  margin-top: 20px;
  width: 100%;
}

.mapContainer {

  height: 100%;
}

h1 {
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  h1 {
    margin-bottom: 0;
  }

    .mapContainer {

    margin-top: 10px;
  }

  
}